<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fheebiy"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="16"/>


    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <application
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name=".activity.IndexActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.vp.VpActivity"/>
        <activity android:name=".activity.vp.VpComplexActivity"/>
        <activity android:name=".activity.other.ThemeStyleActivity"/>
        <activity android:name=".activity.vp.VpAnimationActivity"/>
        <activity android:name=".activity.other.SlideToDelLvActivity"/>
        <activity android:name=".activity.main.MainActivity"/>
        <activity android:name=".activity.vp.VpStripActivity"/>
        <activity android:name=".activity.main.Main2Activity"/>
        <activity android:name=".activity.other.DownLoadActivity"/>
        <activity android:name=".activity.main.Main3Activity"/>
        <activity android:name=".activity.communicate.CommunicateActivity"/>
        <activity android:name=".activity.communicate.Communicate2Activity"/>
        <activity android:name=".activity.communicate.Communicate3Activity"/>
        <activity android:name=".activity.other.PopupWindowActivity"/>
        <activity
                android:name=".activity.overscroll.PersonalCenterActivity"
                android:label="percenter">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".activity.overscroll.ScrollTestActivity"/>
        <activity android:name=".activity.lite.SwipeRefreshLayoutActivity"/>

        <activity android:name=".activity.pulltorefresh.PullMainActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshExpandableListActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshGridActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshHorizontalScrollViewActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshListActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshListInViewPagerActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshScrollViewActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshViewPagerActivity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshWebView2Activity"/>
        <activity android:name=".activity.pulltorefresh.PullToRefreshWebViewActivity"/>
        <activity android:name=".activity.lite.LiteHttpActivity"/>
        <activity android:name=".activity.aquery.AQueryActivity"/>
        <activity android:name=".activity.aquery.AqImageLoadActivity"/>
        <activity android:name=".activity.service.ServiceMainActivity"/>

        <service android:name=".service.MyService"/>
    </application>
</manifest>
