<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fheebiy"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16"/>


    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <application
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name=".activity.IndexActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VpActivity"/>
        <activity android:name=".activity.VpComplexActivity"/>
        <activity android:name=".activity.ThemeStyleActivity"/>
        <activity android:name=".activity.VpAnimationActivity"/>
        <activity android:name=".activity.SlideToDelLvActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.VpStripActivity"/>
        <activity android:name=".activity.Main2Activity"/>
        <activity android:name=".activity.DownLoadActivity"/>
    </application>
</manifest>
